 <nav class="side-nav-outer" id="side-menu">
     
    <ul class="nav">
        <li  class="nav-primary">
            <button class="btn btn-primary" ng-click="search()" ><a href="index.html#/Dashboard/tileResults">Search</a></button>
        </li> 
        <li  class="nav-primary" ng-repeat="(categoryKey,category) in sideMenuObjs"  ng-hide="category.hide">
            <div class="catg-outer "><a ng-click="subMenu_a()">{{category.category}}</a><span class="glyphicon glyphicon-plus"></span></div>
            <ul class="nav-inner {{categoryKey+'-side-catg'}}"  ng-hide="{{category.isHidden}}">
                <li class="selectAllSub opactiyOff" ng-click="selectAllSub(categoryKey)"><span  class="glyphicon glyphicon-check"></span>select all</li>
                <li class="opactiyOff" ng-repeat="(key,optionIn) in category.options" ng-click="activateFiletr(categoryKey,key)"><span  class="glyphicon glyphicon-check"></span>{{optionIn}}</li>
            </ul>
        </li> 
   </ul>
</nav>

        
<main ui-view>
    <div id="dashboard-outer">
        <div id="dashboar-inner-top">
            <img  src="images/dashboard-banner.jpg">
            <h2 style="position:relative;">Interconnection Oriented Architecture <br> <b>Knowledge Base</b></h2>
            <p style="position:relative;">Your resource for implementing an interconnected enterprise.</p>
        </div>
        <div id="dashboar-inner-bottom">
            <table class="dashboard-table">
                <tr>
                    <td>
                        <span class="EQ-Asset-Casestudy"></span>
                    </td>
                    <td>
                        <span class="EQ-Asset-Infographic"></span>
                    </td>
                    <td>
                        <span class="EQ-Asset-Survey"></span>
                    </td>
                    <td>
                        <span class="EQ-Asset-Related"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Deployment Stories</h4>
                    </td>
                    <td>
                        <h4>Deployment Pattern</h4>
                    </td>
                    <td>
                        <h4>Blueprints</h4>
                    </td>
                    <td>
                        <h4>Additional resources</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Practical implementation experiences for building an interconnected enterprise.  </p>
                    </td>
                    <td>
                        <p>Before/After reference solution implementations to help guide design and implementation of IOA </p>
                    </td>
                    <td>
                        <p>Architecture design guidance that links common problems/challenges to associated IOA technical capabilities with details on how they can deliver value.</p>
                    </td>
                    <td>
                        <p>Collection of IOATM related content ranging from solution overview material to technical “how-to” implementation guides.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="index.html#/Dashboard/tileResults">View All</a>
                    </td>
                    <td>
                        <a href="index.html#/Dashboard/tileResults">View All</a>
                    </td>
                    <td>
                        <a href="index.html#/Dashboard/tileResults">View All</a>
                    </td>
                    <td>
                        <a href="index.html#/Dashboard/tileResults">View All</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>