<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="dp-outer model-view">
    <div class="model-view-inner">
    <div class="model-head">
             <div class="btn-group btn-group-lg" role="group" aria-label="..."></div>
            <a href="index.html#/Dashboard/tileResults" ><button ng-click="getDpDetailsNT(dp.id)" class="btn btn-primary" >View</button></a>
            <a ><button ng-click="printPage()" class="btn btn-primary printButton" >Print</button></a>
            <a class="model-close dp-model-close" href="index.html#/Dashboard/tileResults" ><span class="glyphicon glyphicon-remove-circle"></span></a>
    </div>
    <div class="dp-header ">
         
        <div class="dp-header-left"><h3>IOA™ Deployment Pattern:<span> {{dp.name}}</span></h3>
        <p><b>Purpose: </b>{{dp.summary}}</p>
        </div>
        <div class="dp-header-icon"><img src="images/PLCD-Icons/{{dp.ioa_use_case}}.png"></div>
    </div>
    <table class="dp-table">
       <tr>
         <th class="before-head">Before</th>
         <th class="after-head">After</th>
       </tr>
       <tr>
           <td class="before-img"><img ng-src="{{dp.before_image}}"></td>
         <td class="after-img"><img ng-src="{{dp.after_image}}"></td>
       </tr>
       <tr>
         <td class="before-ol-h"><h4>Challenges</h4></td>
         <td class="after-ol-h"><h4>Benefits</h4></td>
       </tr>
       <tr>
           <td class="before-ol-outer"><ol>
                <li ng-repeat="ch in dp.challenges">{{ch}}</li>
               <!--<li>Legacy Network Systems are straining under vastly increasing processing, data and messaging volumes</li>
               <li>The cost of maintaining the underperforming network continues to rise, with little service improvement</li>
               <li>Limited connectivity options due to remote location created a “sellers market” for the Telcos</li> -->
             
           </ol></td>
           <td class="after-ol-outer"><ol>
                <li ng-repeat="be in dp.benefits">{{be}}</li>
                   <!--
               <li>Directly connecting to Equinix IBXs while retiring MPLS significantly improves performance to meet increasing volumes</li>
               <li>Costly MPLS networks are retired saving money , reducing complexity</li>
               <li>Connecting to Platform Equinix enables customers to leverage a network provider ecosystem, which is a “buyers” market</li> -->
               
           </ol></td>
       </tr>
    </table>
    </div>
</div>