<div class="results-outer">
    <!-- <div style="height:100px; width:700px ">
        {{filtersActive }}
    </div> 
     <div style="height:100px; width:700px ">
        {{test}}
    </div>-->
    <div ng-repeat="filterObjIn in filtersOnResults" style="display: block; margin-bottom: 5px;height:auto;overflow:auto">
        <p style="font-size: 16px; float:left; font-weight: bold;padding-top: 4px">{{filterObjIn.category+": "}}</p>
        <button class="btn btn-default" ng-repeat="optionIn in filterObjIn.options" style="margin-left: 4px">
            {{optionIn}}
        </button>
    </div>
    <h3>Number of results: <span>{{resultList.length}}</span></h3>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Customers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat=" resultObj in resultList" >
          <td ng-click="getCustomeInfo(resultObj.id)"><a href="index.html#/Dashboard/details">{{resultObj.name}}</a></td>
      </tr>
    </tbody>
    </table> 
</div>
