<div class="results-tiles-outer">
    <div class="rs-tile card-1"> 
        <div class="tile-head" style="background-color:#8BC34A">
            <h4>Deployment Stories</h4> <span class="" style="color:#8BC34A">{{ssResultList.length}}</span>
        </div>
        <div class="rs-tile-ele" id="ss-rs-tile-ele" >
        <div class="rtl-table" id="ss-table">
            <table class="table">
            <tbody>
              <tr ng-repeat="ssIn in ssResultList | orderBy:'name'">
                <td class="cust-name" ng-click="getSSDetailsNT(ssIn.id)"><a>{{ssIn.name}}<small>{{ssIn.business_summary}}</small></a></td>
                <td class="cust-preview" ng-click="getSSDetails(ssIn.id)"><a href="/IOA_KnowledgeBase-2/index.html#/Dashboard/sucessStoriesModel" class="preview-a"><span class="glyphicon glyphicon-eye-open preview-batch"></span> Preview</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
    <div class="rs-tile card-1"> 
    <div class="tile-head"  style="background-color:#FFC107">
        <h4>Deployment Pattern</h4> <span class="" style="color:#FFC107">{{dpresultList.length}}</span>
    </div>
    <div class="rs-tile-ele" id="dp-rs-tile-ele">
        <div class="rtl-table" id="dp-table">
           <table class="table">
            <tbody>
                <tr ng-repeat="dpLi in dpresultList | orderBy:'name'">{{dpLi.name}} 
                    <td class="cust-name" ng-click="getDpDetailsNT(dpLi.id)"><a>{{dpLi.name}}<small >{{dpLi.description}}</small></a></td>
                    <td class="cust-preview" ng-click="getDpDetails(dpLi.id)"><a href="/IOA_KnowledgeBase-2/index.html#/Dashboard/dp-model" target="_parent" class="preview-a"><span class="glyphicon glyphicon-eye-open preview-batch"></span> Preview</a></td>
              </tr> 
            </tbody>
          </table>
        </div>
    </div>
   </div>
    <div class="rs-tile card-1"> 
    <div class="tile-head" style="background-color:#2196F3 ">
        <h4>Blue Prints</h4> <span class="" style="color:#2196F3">{{bluePrints.length}}</span>
    </div>
    <div class="rs-tile-ele" >
        <div class="bp-tile card-1" ng-repeat="bp in bluePrints |orderBy: '_source.dp_id'" ng-click="openLink(bp._source.boxview_url)">
            <img src="images/PLCD-Icons/{{bp._source.ioa_use_case}}.png">
            <h4>interconnecting <b>{{bp._source.ioa_use_case}}</b></h4>
            <p>{{bp._source.shortD}}</p>
        </div>
        <!--<div class="bp-tile card-1">
            <img src="images/PLCD-Icons/People.png">
            <h4>interconnectin <b>People</b></h4>
            <p>Workplace chalenges</p>
        </div>
        <div class="bp-tile card-1">
            <img src="images/PLCD-Icons/People.png">
            <h4>interconnectin <b>People</b></h4>
            <p>Workplace chalenges</p>
        </div>
        <div class="bp-tile card-1">
            <img src="images/PLCD-Icons/People.png">
            <h4>interconnectin <b>People</b></h4>
            <p>Workplace chalenges</p>
        </div>
        <div class="bp-tile card-1">
            <img src="images/PLCD-Icons/People.png">
            <h4>interconnectin <b>People</b></h4>
            <p>Workplace chalenges</p>
        </div>-->
    </div>
    </div>
    <div class="AR-tile-ele" >
        <div class="rtl-left">
            <h4>Additional Resources</h4> <span class="batch">{{arResultsList.length}}</span>
        </div>
        <div class="ar-rtl-table" >
            <div class="ar-element" ng-repeat="ar in arResultsList | orderBy:'name'">
                <a href="{{ar.url}}" target="_blank">{{ar.name}} <small>{{ar.description}}</small></a>
            </div>
        </div>
    </div>
</div>