<h3 ng-show="keyWordResult.length===0" style="padding:50px 30px; opacity: 0.4;">No search initiated</h3>
<div class="sr-outer">
<table class="table">
    <tbody class="srch-r-tbl">
      <tr ng-repeat="r in keyWordResult">
        <td class="rst-left"><span ng-class="r.icon"></span></td>
        <td class="rst-right"> 
            <h3 style="color:red;cursor: pointer;margin-top: 10px">{{r.title}}</h3>
            <p>{{r.description}}</p>
        </td> 
      </tr>
    </tbody>
  </table> 
</div>
