<div class="upload-outer"> 
    <div class='click-upload' id='click-up-id'>
        <h2>Click here to select</h2>
        <img  src='images/upload-icon.png'>
    </div>
    <form enctype="multipart/form-data" id="file-form" action="http://ch3lxcmwasd01:8090/upload " method="post"  target="_blank" >
        <input id='filePath' name="filePath" type="file" />
    </form>
    <button class='btn btn-primary' id='sub-file'>Upload File</button> 
</div>