<div class="ss-outer">
    <div class="ss-inner">
    <div class="ss-header col-xs-12">
        <div class="ss-head-left col-xs-9">
            <div class="ss-head-icon"><img ng-src ="images/industries-vertical/{{ss.industry_vertical}}.png" ></div>
            <div class="ss-head-ele"><h4><small>customer</small>{{ss.customer}}</h4></div>
            <div class="ss-head-ele"><h4><small>industry</small>{{ss.industry_vertical}}</h4></div>
            <div class="ss-head-ele"><h4><small>region</small>{{ss.region}}</h4></div>
        </div>
        <div class="ss-head-right col-xs-3">
            <div class="ss-head-r-ele"><img ng-hide="ss.primary_plcd == ''" src="images/PLCD-Icons/{{ss.primary_plcd}}.png"></div>
            <div class="ss-head-r-ele"><img ng-hide="ss.secondary_plcd == ''" src="images/PLCD-Icons/{{ss.secondary_plcd}}.png"></div>
        </div>
        <div class="col-xs-12">
            <div class="business-summary col-xs-9"><b>Business Summary: </b>{{ss.business_summary}}</div>
        </div>
    </div>
        
    <div class="ss-body col-xs-12">
     <table class="ss-details-table">
        <tr>
            <td>
            <div class=" ss-b-ele" style="background-color: #E4E4E4;" >
                <div class="ss-b-ele-Title"><h4 style=" color:black;">Requirements</h4></div>
                <ul>
                    <li ng-repeat="rq in ss.requirements" ng-hide="rq === ''"><p>{{rq}}</p></li>
                </ul>
            </div>
            </td>
            <td>
            <div class="ss-b-ele" style="background-color: #DDDDDD">
                <div class="ss-b-ele-Title"><h4 style="color:black">Platform</h4></div>
                <div class="ss-b-ele-subTitle"><p>Pattern</p></div>
                <ul class="pattern-ul">
                    <li><p>{{dp.name}}</p></li>
                </ul>

                <div class="ss-b-ele-subTitle"><p>Location</p></div>
                <ul class="location-ul">
                    <li ng-repeat="location in ss.locations"><p>&bull; {{location}}</p></li>
                </ul>

                <div class="ss-b-ele-subTitle"><p>Products</p></div>
                <ul class="products-ul">
                    <li ng-repeat="p in ss.productsSold"><p>{{p}}</p></li>
                </ul>
            </div>
            </td>
            <td>
        <div class="ss-b-ele" style="background-color: #333333; color:white;" >
            <div class="ss-b-ele-Title"><h4>Results</h4></div>
            <ul>
                <li ng-repeat="rs in ss.results"><p>{{rs}}</p></li>
            </ul>
        </div></td>
            <td>
        <div class="ss-b-ele" style="background-color: #333333; color:white;"  >
            <div class="ss-b-ele-Title"><h4>SoundBytes</h4></div>
            <ul>
                <li ng-repeat="sb in ss.soundBytes"><p>{{sb}}</p></li>
            </ul>
        </div></td>
        </tr>
     </table>
    </div>
    <div class="ss-moreInfoOuter col-xs-12">
        <div class="ss-moreInfoChild" style="width:100%; float:left; text-align: center"><p>For more information: <b>{{ss.author}}</b></p></div>
        <!--<div style="width:80%; float:left"><p></b><p></div>  -->
    </div>
      
   <div class="dp-header ">
         
        <div class="dp-header-left"><h3>IOA™ Deployment Pattern:<span> {{dp.name}}</span></h3>
        <p><b>Purpose: </b>{{dp.summary}}</p>
        </div>
        <div class="dp-header-icon"><img src="images/PLCD-Icons/{{dp.ioa_use_case}}.png"></div>
    </div>
    <table class="dp-table">
       <tr>
         <th class="before-head">Before</th>
         <th class="after-head">After</th>
       </tr>
       <tr>
           <td class="before-img"><img ng-src="{{dp.before_image}}"></td>
         <td class="after-img"><img ng-src="{{dp.after_image}}"></td>
       </tr>
       <tr>
         <td class="before-ol-h"><h4>Challenges</h4></td>
         <td class="after-ol-h"><h4>Benefits</h4></td>
       </tr>
       <tr>
           <td class="before-ol-outer"><ol>
                <li ng-repeat="ch in dp.challenges">{{ch}}</li>
               <!--<li>Legacy Network Systems are straining under vastly increasing processing, data and messaging volumes</li>
               <li>The cost of maintaining the underperforming network continues to rise, with little service improvement</li>
               <li>Limited connectivity options due to remote location created a “sellers market” for the Telcos</li> -->
             
           </ol></td>
           <td class="after-ol-outer"><ol>
                <li ng-repeat="be in dp.benefits">{{be}}</li>
                   <!--
               <li>Directly connecting to Equinix IBXs while retiring MPLS significantly improves performance to meet increasing volumes</li>
               <li>Costly MPLS networks are retired saving money , reducing complexity</li>
               <li>Connecting to Platform Equinix enables customers to leverage a network provider ecosystem, which is a “buyers” market</li> -->
               
           </ol></td>
       </tr>
    </table>
</div>
</div>
