<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>IOA_Knowledge Base</title>
        <link rel="icon" type="image/png" href="images/favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!--build:css css/style.min.css-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!--endbuild-->
    </head>
    <body ng-app="mainApp" ng-controller="mainController">
        <header >
            <div class="logo-outer">
                <a href="/IOA_KnowledgeBase-2/index.html#/Dashboard"><img src="images/logo01.png"> <h4>Equinix</h4></a>
                <div class="header-left-container">
                    <h4>IOA knowledge base</h4>
                </div>
            </div>
            <nav class="top-menu" >
                <ul class="nav nav-tabs">
                    <!--<li class="inner-addon right-addon" id="cont-search">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" id="csSearch" class="form-control" placeholder="search..." ng-model="searchInput"/>
                        <ul class="auto-list" ng-show="searchInput.length > 0"  >
                            <li ng-repeat="obj in inputSearchList| filter:searchInput |limitTo:10" ng-bind-html="obj.key | highlight:searchInput" ng-click="sugtClick(obj.key)">{{obj.key}}</li>
                        </ul>
                    </li> -->
                    <li id='dashboard-b' ><a  onClick="parent.location='index.html#/Dashboard'">Dashboard</a></li>
                    <li ><a onClick="parent.location='index.html#/start'">Import</a></li>
                </ul>
            </nav>
        </header>
        <div id="main-container" ui-view>
       
        </div>
        <footer>
        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <!--build:js js/app.min.js -->
        <script src="js/app.js"></script>
        <!-- endbuild -->
        <!--build:js js/script.min.js -->
        <script src="js/script.js"></script>
        <!-- endbuild -->
        
        </footer>   
    </body>
</html>
